@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

body {
  font-family: 'Pretendard';
  font-size: 18px;
  justify-content: center;
  background-color: #201516;
  color: #f3f3f3;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #f3f3f3;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
}

.banner {
  height: 500px;
  background-attachment: fixed;
}
.banner-image {
  width: 100%;
}
.main {
  margin-top: 75px;
  z-index: 1;
}
.main-content {
  min-width: 100px;
  max-width: 1300px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: left;
  padding-bottom: 200px;
}


.profile-left { 
  display: flex;
  justify-content: flex-start;
  text-align: left;
  padding-bottom: 50px;
}
.profile-right {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  padding-bottom: 50px;
}

.profile-image {
  width: 500px;
}

.divide {
  width: 100%;
  margin: 50px auto;
  border-bottom: 2px solid #f3f3f37f;
}

.menu {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: #232323;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.menu-left {
  /* transform: translateX(-400px); */
  transition: transform 0.3s ease;
}

.category {
  width: 2px;
  height: 25%;
  margin: 10px;
  background-color: #f3f3f37f;
}

.button {
  display: flex;
  align-items: center;
  text-align: center;
  height: 25px;
  padding: 25px;
  font-weight: 500;
  font-size: 18px;
  transition: background-color 0.6s ease-out;
}

.button.active {
  background-color: #ffffff22;
}

.button:hover {
  background-color: #ffffff44;
}

.button-image-title {
  display: flex;
  width: 120px;
  padding: 0 20px 0 20px;
}

.external-link {
  width: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media screen and (min-width: 1201px) {
  .app-container {
    flex-direction: row;
  }


  .main {
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    margin-left: 375px;
  }

  .menu {
    left: 0;
    width: 375px;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
  }

  .category {
    width: auto;
    height: auto;
    margin: 25px auto 15px 25px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 24px;
    font-weight: 700;
  }

  .title {
    display: flex;
    align-items: center;
  }

  .button {
    width: 325px;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 20px;
  }

  .button-image-title {
    width: 300px;
    padding: 25px;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
  }

}

@media screen and (max-width: 767px) {

  .category {
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
  }

  .menu-narrow {
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    transition: transform 0.6s ease;
  }

  .button {
    display: inline-block;
    width: 50%;
    min-width: 100px;
    margin: 7.5px 10px;
  }

  .button-container {
    display: flex;
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: transform 0.6s ease;
  }

  .button-container-narrow {
    top: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-1000px);
    transition: transform 0.6s ease;
  }

  .button-container-narrow.expanded-buttons {
    transform: translateY(50px);
  }
}
