@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

body {
  font-family: 'Pretendard';
  font-size: 18px;
  justify-content: center;
  background-color: #201516;
  color: #f3f3f3;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #f3f3f3;
}

/* h1 {

}
h2 {
  
}
h3 {

}
h4 {

} */

p {
  font-weight: 400;
  line-height: 200%;
  padding-bottom: 25px;
}


.banner {
  height: 500px;
  background-attachment: fixed;
}
.banner-overlay {
  width: '100%';
  height: '100%';
}
.banner-image {
  width: 100%;
}
.main {
  margin-top: 75px;
  z-index: 1;
}
.main-content {
  min-width: 100px;
  max-width: 1300px;
  margin: auto 50px;
  text-align: left;
  padding-bottom: 200px;
}

.caption {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  padding-top: 0;
}

.profile { 
  display: flex;
  
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  padding-bottom: 50px;
}
.profile-text {
  display: flex;
  padding-left: 25px;

  flex-direction: column;
}
.profile-image {
  width: 35vw;

  max-width: 475px;
  object-fit: contain;
}

.divide {
  width: 100%;
  margin: 50px auto;
  border-bottom: 2px solid #f3f3f37f;
}

.menu {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: #232323;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.category {
  width: 2px;
  height: 25%;
  margin: 10px;
  background-color: #f3f3f37f;
}

.button {
  display: flex;
  align-items: center;
  text-align: center;
  height: 25px;
  padding: 25px;
  font-weight: 500;
  font-size: 18px;
  transition: background-color 0.6s ease-out;
}

.button.active {
  background-color: #ffffff22;
}

.button:hover {
  background-color: #ffffff44;
}

.button-title {
  display: flex;
  width: 120px;
  margin: auto 25px;
}

.external-link {
  width: 30px;
  margin-right: 15px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media screen and (min-width: 1201px) {
  .app-container {
    flex-direction: row;
  }


  .main {
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    margin-left: 375px;
  }

  .profile-image {
    width: 27vw;
  }

  .menu {
    left: 0;
    width: 375px;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
  }

  .category {
    width: auto;
    height: auto;
    margin: 35px auto 15px 25px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 24px;
    font-weight: 700;
  }

  .title {
    display: flex;
    align-items: center;
  }

  .button {
    width: 325px;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 20px;
  }

  .button-title {
    width: 300px;
    padding: 25px;
    margin: 0;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
  }

}

@media screen and (max-width: 767px) {

  body, p, a {
    font-size: 16px;
  }

  .category {
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
  }

  .main-content {
    margin: auto 20px;
  }

  .profile { 
    display: block;
  }
  .profile-text { 
    display: block;
    padding-left: 0;
  }
  .profile-image {
    width: 50vw;
  }  
  
  .menu {
    z-index: 9;
  }
  .menu-narrow {
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #232323;
    transition: transform 0.6s ease;
    z-index: 5;
  }

  .button {
    display: inline-block;
    width: 100%;
    min-width: 100px;
  }

  .button-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: transform 0.6s ease;
    z-index: 6;
  }

  .button-container-narrow {
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-1000px);
    transition: transform 0.6s ease-in-out;
    z-index: 3;
  }

  .button-container-narrow.expanded {
    transform: translateY(300px);
  }

}
