@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

body {
  font-family: 'Pretendard';
  font-size: 18px;
  justify-content: center;
  border-bottom: 2px solid #ccc;
}

.app-container {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #000;
}

.main-content {
  margin: 50px;
  margin-top: 150px;
  text-align: justify;
}

.profile {
  text-align: left;
  padding-bottom: 50px;
}
.profile:nth-child(odd) {
  text-align: right;
}

.profile-image {
  width: 50%;
}

.divide {
  width: 100%;
  border-bottom: 2px solid #ccc;
}

.menu {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;
  border-bottom: 2px solid #ccc;
}

.button {
  display: inline-block;
  text-align: center;
  width: 75px;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.button.active {
  background-color: #ccc;
}

.button:hover {
  background-color: #eee;
}

.button-image-title {
  width: 60px;
  padding: 0 20px 0 20px;
}

.external-link {
  width: 30px;
  margin-right: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .app-container {
    flex-direction: row;
  }

  .menu {
    display: flex;
    position: fixed;
    width: 350px;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    border-right: 2px solid #ccc;
  }

  .title {
    display: flex;
    align-items: center;
  }

  .button {
    display: flex;
    align-items: center;
    text-align: left;
    width: 275px;
    height: 20px;
  }

  .button-image-title {
    width: 60px;
    padding: 0 10px 0 10px;
  }


  .button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
  }

  .main-content {
    width: 100%;
    margin: 0 50px 0 400px;
  }
}
@media screen and (max-width: 1050px) {
  .button {
    width: 200px;
  }
}

.expanded-buttons {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  padding: 10px;
}

.button-row {
  opacity: 1;
  transform: translateY(-20px);
}

.button-row.show {
  opacity: 1;
  transform: translateY(0);
}